<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
</head>
<body>
<div class="container">
    <form class="form-regin" method="post" action="/api/registration/reg-new-acc">
        <h2 class="form-regin-heading">Registration</h2>
        <p>
            <lable for="login">Username</lable>
            <input type="text" id="login" name="login" class="form-control" placeholder="Login" required>
        </p>

        <p>
            <lable for="password">Password</lable>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Registration</button>
    </form>
</div>
</body>
</html>